<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">标题</title>
    <meta name="Description" th:content="${article.title}" content="标题"/>
    <meta name="Keywords" th:content="${article.labelNames}" content="标签"/>
    <th:block th:insert="~{layout :: public_head}">
    </th:block>
    <link rel="stylesheet" type="text/css" href="/assets/editor.md/css/editormd.min.css"/>
</head>
<body>
<th:block th:insert="~{layout :: public_page}">
</th:block>
<div class="main detail">
    <div class="item">
        <h1 class="item_title" th:text="${article.title}">标题</h1>
        <div id="editormdDiv">
            <textarea style="display:none;" th:text="${article.md}">内容</textarea>
        </div>
    </div>
</div>
<th:block th:insert="~{layout :: public_script}">
</th:block>
<script src="/assets/editor.md/editormd.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/editor.md/lib/marked.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/editor.md/lib/prettify.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use('layer', function () {
        let layer = layui.layer;
    });

    $(function () {
        editormd.markdownToHTML('editormdDiv', {
            htmlDecode: 'style,script,iframe',
            atLink: false,
            emailLink: false
        });
    });
</script>
</body>
</html>
