<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">标题</title>
    <meta name="Description" th:content="${article.title}" content="标题"/>
    <meta name="Keywords" th:content="${article.labelNames}" content="标签"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <style type="text/css">
        * {
            font-family: Consolas, "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/editor.md/css/editormd.min.css"/>
</head>
<body>
<h1 class="item_title" th:text="${article.title}">标题</h1>
<div id="editormdDiv">
    <textarea style="display:none;" th:text="${article.md}">内容</textarea>
</div>
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/editor.md/editormd.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/editor.md/lib/marked.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/editor.md/lib/prettify.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        editormd.markdownToHTML('editormdDiv', {
            htmlDecode: 'style,script,iframe',
            tocContainer: "#toc-container",
            atLink: false,
            emailLink: false
        });
    });
</script>
</body>
</html>
