<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>更新记录 | 麦克斯仇的博客</title>
    <th:block th:insert="layout :: public_head">
    </th:block>
</head>
<body>
<th:block th:insert="layout :: public_page">
</th:block>
<div class="main about history">
    <th:block th:insert="about/public_type_page :: public_type_tabs">
    </th:block>
    <div class="item">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>SpringBoot版</legend>
        </fieldset>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2023年02月11日</h3>
                    <p>V4.2.1</p>
                    <ul>
                        <li>修复并发访问时产生的查询IP报错</li>
                        <li>升级部分依赖</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2023年02月11日</h3>
                    <p>V4.2.0</p>
                    <ul>
                        <li>添加一个文章详细页面，用于给爬虫访问</li>
                        <li>更换基础 Dockerfile 的 jdk 镜像</li>
                        <li>Nginx 配置中添加仅当前域名可以访问的配置</li>
                        <li>修复IP判断</li>
                        <li>升级部分依赖</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年12月11日</h3>
                    <p>V4.1.1</p>
                    <ul>
                        <li>首页时间进度条的数值使用后端生成</li>
                        <li>升级部分依赖</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年11月06日</h3>
                    <p>V4.1.0</p>
                    <ul>
                        <li>管理员登录使用 SpringSecurity</li>
                        <li>部分代码优化与表结构优化</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年10月25日</h3>
                    <p>V4.0.0</p>
                    <ul>
                        <li>升级至 JDK17</li>
                        <li>升级部分依赖</li>
                        <li>一些代码优化</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年06月14日</h3>
                    <p>V3.2.0</p>
                    <ul>
                        <li>访问日志中添加 referer 来源</li>
                        <li>优化记录访问日志的逻辑</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年05月16日</h3>
                    <p>V3.1.1</p>
                    <ul>
                        <li>升级部分依赖</li>
                        <li>修复文章保存后， Elasticsearch 无法搜索到的问题</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2022年03月07日</h3>
                    <p>V3.1.0</p>
                    <ul>
                        <li>升级部分依赖</li>
                        <li>添加线上查看日志的功能</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2021年12月16日</h3>
                    <p>V3.0.0</p>
                    <ul>
                        <li>折腾 SpringCloud 结束，回归 SpringBoot</li>
                        <li>使用 git 管理代码，并在 GitHub/Gitee 开源</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2021年07月17日</h3>
                    <ul>
                        <li>折腾 SpringCloud ，暂时下线</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2021年07月01日</h3>
                    <p>V2.0.0</p>
                    <ul>
                        <li>下线 JFinal 版，管理端改为 SpringBoot 版，方便后续切换为 SpringCloud</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年08月28日</h3>
                    <p>V1.0.0</p>
                    <ul>
                        <li>SpringBoot 版用户端上线</li>
                    </ul>
                </div>
            </li>
        </ul>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>JFinal版</legend>
        </fieldset>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2021年04月29日</h3>
                    <p>V3.1.1</p>
                    <ul>
                        <li>文章标签显示各个标签文章数量</li>
                        <li>文章目录设置最大高度</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2021年01月03日</h3>
                    <p>V3.1.0</p>
                    <ul>
                        <li>添加 ARTS 模块</li>
                        <li>文章目录移动到文章右侧悬浮窗</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年11月24日</h3>
                    <p>V3.0.0</p>
                    <ul>
                        <li>使用 Elasticsearch 全文搜索代替MySQL查询</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年09月10日</h3>
                    <p>V2.4.0</p>
                    <ul>
                        <li>使用 Redis 缓存解决文章数、阅读数双平台不同步的问题</li>
                        <li>运行环境升级为 jdk11</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年08月13日</h3>
                    <p>V2.2.0</p>
                    <ul>
                        <li>添加文章评论的功能</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年06月23日</h3>
                    <p>V2.1.1</p>
                    <ul>
                        <li>修复 markdown 文本 -- 变为 - 的错误</li>
                        <li>修改部分 markdown 文本文字颜色样式</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年06月02日</h3>
                    <p>V2.1.0</p>
                    <ul>
                        <li>首页展示总文章数、阅读数</li>
                        <li>添加阅读量的统计</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年05月24日</h3>
                    <p>V2.0.0</p>
                    <ul>
                        <li>添加首页</li>
                        <li>首页显示热门文章</li>
                        <li>首页显示人生进度条</li>
                        <li>新增文章置顶</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年05月12日</h3>
                    <p>V1.2.1</p>
                    <ul>
                        <li>强制 HTTPS</li>
                        <li>支持 HTTP/2</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年05月09日</h3>
                    <p>V1.2.0</p>
                    <ul>
                        <li>更换域名：www.qiuzhihui.cn → maxqiu.com</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年02月20日</h3>
                    <p>V1.1.0</p>
                    <ul>
                        <li>修改为 Docker 环境下部署</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2019年02月21日</h3>
                    <p>V1.0.1</p>
                    <ul>
                        <li>修复了 cdn 加速域名也能直接访问网页的问题</li>
                        <li>添加了管理员登录的短信通知，通知登录地理位置</li>
                        <li>添加网站地图文件 sitemap.txt</li>
                        <li>更新了 markdown 文件的加载方式，改为加载 md 源码后渲染 HTML</li>
                        <li>添加了 markdown 的 [TOC] 目录功能</li>
                        <li>添加了文章展示中返回顶部的功能</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2019年02月13日</h3>
                    <p>V1.0.0<br/>历时一个多月，第一版完成</p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2019年01月06日</h3>
                    <p>开始建站！</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<th:block th:insert="layout :: public_script">
</th:block>
<th:block th:insert="about/public_type_page :: public_type_script">
</th:block>
</body>
</html>
