<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxqiu.blog.mapper.DiscussMapper">
    <select id="findByIds" resultType="com.maxqiu.blog.entity.Discuss">
        SELECT *
        FROM discuss
                WHERE revert_id IN
        <foreach item="discussId" collection="discussIdList" open="(" close=")" separator=",">
            #{discussId}
        </foreach>
    </select>
</mapper>
